/*General*/

html {

}

header {
  margin-bottom: 70px;
}

body {

  background-image: url("../img/bg-min.jpg");
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 100;
  color: #00C957;
  padding: 20px;
}

h2 {
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  color: #00C957;
}

ul {
  list-style-type: none;
}


/*Footer*/

.footer {
  background: #00C957;
  padding-top: 15px;
}

/*Classes */

.jumbotron {
  background-color: rgba(0,0,0,0.50);
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: -10px;
  margin-bottom: 30px
}


/* IDs */


#list-interest {
  color: #39A9F1;
}
